<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support.StrongNamed" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.0.0-beta4" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="91.0.4472.10100" targetFramework="net461" />
  <package id="Selenium.WebDriver.StrongNamed" version="3.141.0" targetFramework="net461" />
</packages>